.sandyfactsclass {
  font-size: 500%;
  background-color: #C59EBA;
  text-align:center;
  font-family: courier;
  border: 7px solid #FFF8D3;
  
}

body {
  background-color: #BA9EBA;
  font-family: trebuchet;
}